<div class="content">
  <div class="heading-area">
    <div class="heading">Services</div>
    <div class="sub-heading">All types of services offered by Kainaat Studio</div>
  </div>
  <br>
  <br>
  <a mat-flat-button routerLinkActive="active" routerLink="./new">
    <mat-icon>plus</mat-icon>
    <span>Add New Service</span>
  </a>



  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z1">
    <!-- Name Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.Name}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let service">{{ service[ServicePropNames.Id]}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.Description}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let service">{{ service[ServicePropNames.Description]}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.PriceRange}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price Range</th>
      <td mat-cell *matCellDef="let service">Rs.{{service[ServicePropNames.MinPrice]}}-{{
        service[ServicePropNames.MaxPrice]}} </td>
    </ng-container>

    <!-- SortOrder Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.SortOrder}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort Order</th>
      <td mat-cell *matCellDef="let service">{{ service[ServicePropNames.SortOrder]}}</td>
    </ng-container>

    <!-- Active Flag -->
    <ng-container matColumnDef="{{ServiceTableColumns.ActiveFlag}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let service">
        <mat-slide-toggle [checked]="service[ServicePropNames.ActiveFlag]" disabled></mat-slide-toggle>
      </td>
    </ng-container>


    <!-- Edit Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.Edit}}">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let service">
        <a mat-icon-button color="primary" aria-label="Edit" [routerLink]="['./edit', service.id]">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="{{ServiceTableColumns.Delete}}">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let service">
        <button (click)="handleDelete(service.id)" mat-icon-button color="warn" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let service; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z1" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
