@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center;
  // background-color: var(--public-background-color);
  height: 100%;
  width: 100%;
}

.card {
  @include flex-center;
  flex-wrap: wrap;
  .left-panel,
  .right-panel {
    width: 50%;
    height: 100%;
    @include flex-center;
    flex-wrap: wrap;
  }
  .right-panel {
    h1 {
      text-wrap: nowrap;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      .submit {
        margin-top: 16px;
      }
    }
  }
}
