<h2>{{heading}}</h2>

<form [formGroup]="serviceForm"  (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
    <input placeholder="Name" matInput [formControlName]="ServicePropNames.Name" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea   cdkTextareaAutosize
     matInput [formControlName]="ServicePropNames.Description" type="text"></textarea>
  </mat-form-field>
  <div class="field-group">

  <mat-form-field appearance="outline">
    <mat-label>Min Price</mat-label>
    <input matInput min="1" max="99999999999999"  [formControlName]="ServicePropNames.MinPrice" type="number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Max Price</mat-label>
    <input matInput min="1" max="99999999999999"   [formControlName]="ServicePropNames.MaxPrice" type="number">
  </mat-form-field>
</div>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select  [formControlName]="ServicePropNames.ActiveFlag">
      <mat-option [value]="true">Active</mat-option>
      <mat-option [value]="false">Inactive</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Thumbnail URL</mat-label>
    <input matInput  [formControlName]="ServicePropNames.Thumbnail" type="url">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Sort Order</mat-label>
    <input matInput  [formControlName]="ServicePropNames.SortOrder" [min]="0" [max]="9999" type="number">
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Submit</button>

</form>

