<header>
  <div class="container">
    <div class="sitename">Kainaat Studio</div>
    <div class="nav-list">
      <span><a routerLink="/" routerLinkActive="active">Home</a></span>
      <span
        ><a routerLink="/services" routerLinkActive="active">Services</a></span
      >
      <span><a routerLink="/about" routerLinkActive="active">About</a></span>
      <span
        ><a routerLink="/contact" routerLinkActive="active">Contact</a></span
      >
    </div>
    <div class="button">
      <a mat-stroked-button color="primary" routerLink="/login" routerLinkActive="active"
        >Login</a
      >
    </div>
  </div>
</header>
